<div class="groupsContainer">
    <div class="win">
        <app-list-config />
        <!-- Aqui va la lista de lso grupos -->
    </div>
    <div class="win">
        <h2 class="mb20">Create group</h2>
        <input class=" mb10 listInput" placeholder="Group name" type="text">
        <input class=" mb10 listInput" placeholder="Group code" type="text">
        <button class="mb20">Create group</button>
        <h2 class="mb20">Create product</h2>
        <input class="mb10 listInput" type="text" placeholder="Product name">
        <input class="mb10 listInput" type="text" placeholder="Product price">
        <input class="mb10 listInput" type="text" placeholder="Product cost">
        <input class="mb10 listInput" type="text" placeholder="Product code">
        <select class="mb10" name="" id=""></select>
        <button>Create product</button>
    </div>
</div>