*{
    font-size: 2rem;
}

.listConfig {
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

input {
    background-color: var(--bg2);
    margin-right: 10px;
    width: 100%;
    border-bottom: solid 2px var(--main-color);
    border-radius: 0px;
}

input:focus {
    border: none;
    border-radius: 10px;
}

.btnContainer {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr repeat(3, auto);
}