<!-- <div class="win mb10" style="background-color: #d3d3d3;">
      <p>{{ groups() | json }}</p>
</div> -->
@if (groups().length < 1) { <div class="placeholderTutorial">Hola! Antes de empezar, añade un grupo.
    </div>
    }
    @for (group of groups(); track group; let i = $index) {
    <div class="group mb10 win" [class.unabled]="!group.enabled">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </span>
        @if (group.editingName) {
        <input class="editingInput" type="text" [value]="group.name" (keydown.enter)="renameGroup(i, $event)">
        }
        <h2 (dblclick)="activeRenameInput(i)">{{ group.name }}</h2>
        <span (click)="toggleOptions(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
            </svg>
            @if (group.optionsDisplayed) {
            <div class="moreGroupOptions win">
                <button class="listBtn mb10" (click)="renameGroup(i, $event);toggleOptions(i);"
                    (click)="toggleOptions(i);activeRenameInput(i);">Renombrar</button>
                <button class="listBtn mb10" (click)="deleteGroup(i); toggleOptions(i);">Eliminar</button>
                <button class="listBtn" (click)="toggleDisponibility(i)">@if (!group.enabled) {
                    <span>Habilitar</span>
                    }@if (group.enabled) {
                    <span>Deshabilitar</span>
                    }</button>
            </div>
            }
        </span>
    </div>
    }