.group {
    padding: 0;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 34px;
    place-items: center;
    font-size: 2rem;
    background-color: var(--bg3);
    box-shadow: none;
}

.group svg {
    transform: scale(1.3);
    cursor: pointer;
}

.group h2 {
    font-size: 2rem;
}

.groupProductsList {
    padding-top: 10px;
    grid-column: 3 span;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    gap: 20px;
    font-size: 3rem;
}

.product:hover {
    background-color: var(--main-color);
}

.product span {
    padding: 5px 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

.product span:hover {
    background-color: #ffdfaa;
    cursor: pointer;
}

.moreGroupOptions {
    width: 146px;
    position: absolute;
    transform: translate(-160px, -15px);
    height: auto;
    background-color: var(--bg1);
    z-index: 1;
}

.moreGroupOptions span {
    font-size: 2rem;
    color: var(--white-smoke);
}

.moreGroupOptions button {
    width: 100%;
    font-size: 2rem;
}

.unabled {
    text-decoration: line-through;
}

.placeholderTutorial {
    font-size: 3rem;
}

.editingInput {
    height: 44px;
    border: solid 2px var(--selected);
    position: absolute;
    text-align: center;
    font-weight: bold;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
    outline: none;
}

.spin90 {
    transform: rotate(90deg);
    transition: all linear .1s;
}