<div class="groupsContainer">
    <div class="win">
        <app-list-config />
        <!-- Aqui va la lista de los grupos -->
        <app-group-item-list />
    </div>
    <div class="win">
        <h2 class="mb10">Create group</h2>
        <input class=" mb10 listInput" placeholder="Group name" type="text" [formControl]="newGroupName" (keydown.enter)="changeHandler($event)">
        <button class="mb10" (click)="changeHandler($event)">Create group</button>
        <h2 class="panelTitle">Create product</h2>
        <input class="mb10 listInput" type="text" placeholder="Product name">
        <input class="mb10 listInput" type="text" placeholder="Product price">
        <input class="mb10 listInput" type="text" placeholder="Product cost">
        <input class="mb10 listInput" type="text" placeholder="Product code">
        <select class="mb10" name="" id="">
            <!-- Aqui va la lista de las opciones de grupos para el slct del panel -->
            @for (group of groups(); track group; let i = $index) {
                <option [value]="group.name">{{group.name}}</option>
            }
        </select>
        <button>Create product</button>
    </div>
</div>